<div class="container mt-4">
    <h2>Produkty</h2>
    <div class="row mb-3">
        <div class="col-md-4">
            <label for="categorySelect" class="form-label">Wybierz kategorię:</label>
            <select id="categorySelect" class="form-select" onchange="filterProducts()">
                <option value="all">Wszystkie produkty</option>
                <option value="Żarówki">Żarówki</option>
                <option value="Kable">Kable</option>
                <option value="Pozostałe">Pozostałe</option>
            </select>
        </div>
        <div class="col-md-4">
            <button class="btn btn-success" onclick="showAddProductModal()">Dodaj nowy produkt</button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa Produktu</th>
            <th>Kategoria</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody id="productTableBody">
        <!-- Produkty będą tutaj dynamicznie załadowane -->
        </tbody>
    </table>
</div>

<!-- Modal do dodawania nowego produktu -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Dodaj Nowy Produkt</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addProductForm">
                    <div class="mb-3">
                        <label for="newProductName" class="form-label">Nazwa Produktu</label>
                        <input type="text" class="form-control" id="newProductName" required>
                    </div>
                    <div class="mb-3">
                        <label for="newProductCategory" class="form-label">Kategoria</label>
                        <select id="newProductCategory" class="form-select" required>
                            <option value="Żarówki">Żarówki</option>
                            <option value="Kable">Kable</option>
                            <option value="Pozostałe">Pozostałe</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary" onclick="addNewProduct()">Dodaj</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal do edycji produktu -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edytuj Produkt</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editProductForm">
                    <div class="mb-3">
                        <label for="editProductName" class="form-label">Nazwa Produktu</label>
                        <input type="text" class="form-control" id="editProductName" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary" id="saveEditBtn">Zapisz zmiany</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal do potwierdzenia usunięcia -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Potwierdzenie usunięcia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Czy na pewno chcesz usunąć produkt: <span id="deleteProductName"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nie</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Tak</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/products.js"></script>
