<h2>Dostawcy</h2>
<button class="btn btn-primary mb-2" onclick="showAddSupplierForm()">Dodaj Dostawcę</button>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nazwa Dostawcy</th>
        <th>Email</th>
        <th>Osoba Kontaktowa</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody id="suppliersTableBody">
    <!-- Dostawcy będą tutaj dynamicznie załadowane -->
    </tbody>
</table>

<!-- Modal do dodawania dostawcy -->
<div class="modal fade" id="addSupplierModal" tabindex="-1" aria-labelledby="addSupplierModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSupplierModalLabel">Dodaj Nowego Dostawcę</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addSupplierForm">
                    <div class="mb-3">
                        <label for="supplierName" class="form-label">Nazwa Firmy</label>
                        <input type="text" class="form-control" id="supplierName" required>
                    </div>
                    <div class="mb-3">
                        <label for="supplierEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="supplierEmail" required>
                    </div>
                    <div class="mb-3">
                        <label for="contactPerson" class="form-label">Osoba Kontaktowa (Opcjonalnie)</label>
                        <input type="text" class="form-control" id="contactPerson">
                    </div>
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal do edycji dostawcy -->
<div class="modal fade" id="editSupplierModal" tabindex="-1" aria-labelledby="editSupplierModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSupplierModalLabel">Edytuj Dostawcę</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editSupplierForm">
                    <div class="mb-3">
                        <label for="editSupplierName" class="form-label">Nazwa Firmy</label>
                        <input type="text" class="form-control" id="editSupplierName" required>
                    </div>
                    <div class="mb-3">
                        <label for="editSupplierEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="editSupplierEmail" required>
                    </div>
                    <div class="mb-3">
                        <label for="editContactPerson" class="form-label">Osoba Kontaktowa (Opcjonalnie)</label>
                        <input type="text" class="form-control" id="editContactPerson">
                    </div>
                    <input type="hidden" id="editSupplierId">
                    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal do potwierdzenia usunięcia dostawcy -->
<div class="modal fade" id="deleteSupplierModal" tabindex="-1" aria-labelledby="deleteSupplierModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteSupplierModalLabel">Usuń Dostawcę</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Czy na pewno chcesz usunąć dostawcę: <strong id="deleteSupplierName"></strong>?</p>
                <button id="confirmDeleteSupplier" type="button" class="btn btn-danger">Usuń</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal do zarządzania asortymentem dostawcy -->
<div class="modal fade" id="supplierProductsModal" tabindex="-1" aria-labelledby="supplierProductsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="supplierProductsModalLabel">Asortyment Dostawcy</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addProductToSupplierForm">
                    <div class="form-group">
                        <label for="productSelect">Wybierz Produkt</label>
                        <select class="form-control" id="productSelect"></select>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Dodaj</button>
                </form>
                <div id="errorMessage" class="text-danger mt-2"></div>
                <h3 class="mt-4">Produkty dostawcy</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nazwa Produktu</th>
                        <th>Kategoria</th>
                        <th>Akcje</th>
                    </tr>
                    </thead>
                    <tbody id="supplierProductsTable">
                    <!-- Produkty dostawcy będą tutaj dynamicznie załadowane -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<!-- Skrypt obsługujący dostawców -->
<script src="/js/suppliers.js"></script>
