<h2>Stan Magazynu</h2>
<button class="btn btn-primary mb-2" onclick="showAddInventoryForm()">Dodaj do Magazynu</button>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nazwa Produktu</th>
        <th>Ilość</th>
        <th>Cena Kupna</th>
        <th>Cena Sprzedaży</th>
        <th>% Podatku</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody id="inventoryTableBody">
    <!-- Produkty będą tutaj dynamicznie załadowane -->
    </tbody>
</table>

<div class="account-info">
    <h5>Stan Konta: <span id="accountBalance">Ładowanie...</span> PLN</h5>
</div>

<!-- Modal do dodawania produktu do magazynu -->
<div class="modal fade" id="addInventoryModal" tabindex="-1" aria-labelledby="addInventoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addInventoryModalLabel">Dodaj Produkt do Magazynu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addInventoryForm">
                    <div class="mb-3">
                        <label for="productSelect" class="form-label">Wybierz Produkt</label>
                        <select class="form-control" id="productSelect"></select>
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Ilość</label>
                        <input type="number" class="form-control" id="quantity" required>
                    </div>
                    <div class="mb-3">
                        <label for="purchasePrice" class="form-label">Cena Kupna</label>
                        <input type="number" class="form-control" id="purchasePrice" step="0.01" required>
                    </div>
                    <div class="mb-3">
                        <label for="salePrice" class="form-label">Cena Sprzedaży</label>
                        <input type="number" class="form-control" id="salePrice" step="0.01" required>
                    </div>
                    <div class="mb-3">
                        <label for="taxPercentage" class="form-label">Podatek</label>
                        <select class="form-control" id="taxPercentage">
                            <option value="23">23%</option>
                            <option value="8">8%</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal do edycji produktu w magazynie -->
<div class="modal fade" id="editInventoryModal" tabindex="-1" aria-labelledby="editInventoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editInventoryModalLabel">Edytuj Produkt</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editInventoryForm">
                    <div class="mb-3">
                        <label for="editProductName" class="form-label">Nazwa Produktu</label>
                        <input type="text" class="form-control" id="editProductName" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="editQuantity" class="form-label">Ilość</label>
                        <input type="number" class="form-control" id="editQuantity" required>
                    </div>
                    <div class="mb-3">
                        <label for="editPurchasePrice" class="form-label">Cena Kupna</label>
                        <input type="number" class="form-control" id="editPurchasePrice" step="0.01" required>
                    </div>
                    <div class="mb-3">
                        <label for="editSalePrice" class="form-label">Cena Sprzedaży</label>
                        <input type="number" class="form-control" id="editSalePrice" step="0.01" required>
                    </div>
                    <div class="mb-3">
                        <label for="editTaxPercentage" class="form-label">Podatek</label>
                        <select class="form-control" id="editTaxPercentage">
                            <option value="23">23%</option>
                            <option value="8">8%</option>
                        </select>
                    </div>
                    <input type="hidden" id="editInventoryId">
                    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Skrypt obsługujący magazyn -->
<script src="/js/inventory.js"></script>
<script src="/js/account.js"></script>
