<div class="container mt-4">
    <h2>Zamówienia</h2>

    <!-- Aktywne zamówienia -->
    <h3>Aktywne Zamówienia</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Data Zamówienia</th>
            <th>Typ Zamówienia</th>
            <th>Status</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody id="activeOrdersTableBody">
        <!-- Aktywne zamówienia będą tutaj dynamicznie załadowane -->
        </tbody>
    </table>

    <!-- Archiwalne zamówienia -->
    <h3>Archiwalne Zamówienia</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Data Zamówienia</th>
            <th>Typ Zamówienia</th>
            <th>Status</th>
            <th>Akcje</th>
            <th>Rozliczanie</th>
        </tr>
        </thead>
        <tbody id="archivedOrdersTableBody">
        <!-- Archiwalne zamówienia będą tutaj dynamicznie załadowane -->
        </tbody>
    </table>
</div>

<!-- Modal do wyświetlania szczegółów zamówienia -->
<div class="modal fade" id="orderDetailsModal" tabindex="-1" aria-labelledby="orderDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderDetailsModalLabel">Szczegóły Zamówienia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Produkt</th>
                        <th>Dostawca</th>
                        <th>Ilość</th>
                        <th>Cena Jednostkowa</th>
                        <th>Wartość Netto</th>
                        <th>VAT</th>
                    </tr>
                    </thead>
                    <tbody id="orderDetailsTableBody">
                    <!-- Szczegóły zamówienia będą tutaj dynamicznie załadowane -->
                    </tbody>
                </table>
                <h5 class="text-end mt-4">Suma Zamówienia: <span id="orderTotalAmount"></span> PLN</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/orders.js"></script>
