<div class="container mt-4">
    <h2>Zatowarowanie</h2>
    <button class="btn btn-primary mb-4" onclick="showAddSupplyOrderForm()">Zamów Produkt</button>

    <!-- Tabela dodanych produktów do zamówienia -->
    <h3>Dodane produkty do zamówienia</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Produkt</th>
            <th>Dostawca</th>
            <th>Ilość</th>
            <th>Cena Jednostkowa</th>
            <th>Wartość Netto</th>
            <th>VAT</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody id="addedProductsTableBody">
        <!-- Dodane produkty będą tutaj dynamicznie załadowane -->
        </tbody>
    </table>

    <!-- Dodajemy miejsce na wyświetlanie całkowitej ceny zamówienia -->
    <h4>Całkowita wartość zamówienia: <span id="totalOrderValue">0.00</span> PLN</h4>

    <button class="btn btn-success mt-3" onclick="submitOrder()">Złóż Zamówienie</button>
</div>

<!-- Modal do zamawiania produktu -->
<div class="modal fade" id="addSupplyOrderModal" tabindex="-1" aria-labelledby="addSupplyOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSupplyOrderModalLabel">Zamów Produkt</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addSupplyOrderForm">
                    <div class="mb-3">
                        <label for="productSelect" class="form-label">Wybierz Produkt</label>
                        <select id="productSelect" class="form-select" required></select>
                    </div>
                    <div class="mb-3">
                        <label for="supplierSelect" class="form-label">Wybierz Dostawcę</label>
                        <select id="supplierSelect" class="form-select" required></select>
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Ilość</label>
                        <input type="number" class="form-control" id="quantity" required>
                    </div>
                    <div class="form-group">
                        <label for="purchasePrice">Cena Kupna</label>
                        <input type="number" class="form-control" id="purchasePrice" readonly>
                    </div>
                    <div class="form-group">
                        <label for="taxPercentage">Podatek (%)</label>
                        <input type="number" class="form-control" id="taxPercentage" readonly>
                    </div>
                    <button type="submit" class="btn btn-primary">Dodaj do Zamówienia</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Skrypt obsługujący dostawców -->
<script src="/js/supplyOrder.js"></script>